body{
    background-image: url("../../img/fondo.jpg");
}

h1{
    font: oblique bold 120% cursive;
    font-size: xx-large;
    background-color: rgb(226, 198, 251);
    padding: 0.3em;
    border-radius: 0.3em;
}

p{
    background-color: hotpink;
    padding: 0.2em;
    width: 10em;
    font: oblique bold 120% cursive;
    font-size: large;
    border-radius: 0.2em;
}
#boton{
    background-color: rgb(239, 219, 229);
    padding: 0.2em;
    width: 10em;
    font: oblique bold 120% cursive;
    font-size: large;
    border-radius: 0.2em;
}